$font-main: "Montserrat", sans-serif;

// colors
$color-main: #fafafa;
$color-highlight: #f2e49b;
$color-darkest: #181304;
$color-darker: #262012;
$color-background: #242525;
$color-contrast_dark: #222222;
$color-lighter: #2b2a29;
$color-delete: #e7635a;
$color-error: #ca453c;

// sizes
$radius-button: 4px;
$radius-component: 6px;
$size-header-height: 72px;
$size-user-menu: 48px;
